<!DOCTYPE html>
<html>
  <head>
    <title>BaconStories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Vidaloka&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><!-- Image and text -->





    <nav class="navbar navbar-expand-md navbar-light bg-light" style=" background-image: linear-gradient(90deg, rgb(22, 37, 50), rgb(38, 87, 59));!important">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarsExampleDefault">

    <a id="bacon" class="navbar-brand" href="/posts">BaconStories</a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">

      </li>
      <h4 ><%= link_to "Home", home_path %></h4>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item active">
        <h4><%= link_to "Create Post", new_post_path %></h4>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>

  </body>
</html>
